@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato:ital,wght@1,300&display=swap');
.bloghomecard:hover{
    background-color: rgb(246,248,250);
}
.blogcardimg{
    transition: transform 1.0s;
    margin:0 auto;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid black;
}
.bloghomecard:hover{
.blogcardimg{
    transform:scale(1.1);
}
}
.homeblogmainhead{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 800;
    color: rgb(0,35,73);
}
.homeblogmainhead::after {
    content: "";
    display: block;
    position: relative;
    height: 2px;
    background: rgb(0,35,73);
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .homebloghead{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
    letter-spacing: 1px;
  }
  .homeblogcontent{
    font-style: Lato, sans-serif;
    word-spacing: 2px;
    line-height: 25px;
    font-weight: 400;
    font-size: 13px;
  }

@media (min-width:992px) {
.colsection2{
    margin-top: 2%;
    margin-left: 32%;
}
}