.maindiv{
  padding-bottom: 2%;

}
.head4{
  font-weight: 800;
}
.head5{
  font-weight: 800;
  padding-top: 1%;
}
.head6{
  font-size: 13px;
  font-weight: 700;
  padding-right: 1%;
}
.labeltxt{
  font-size: small;
  padding-bottom: 1%;
}
.paratxt{
  font-size: 13px;
}
.formgroup{
  padding-top: 3%;
}
.subbtn:focus{
  box-shadow: none;
}
.subbtn{
  width: 110px;
  height: 40px;
  font-size: 10px;
  font-weight: 700;
}
.formcontrol:focus{
  box-shadow: none;
  border: 1px solid black;
}



