.footer{
  background-color: white;
  padding-top: 2%;
}
 .foottext{
  color: #606060;
  font-size: 14px;
  text-decoration: none;
 }
 .foothead{
  color: #007EA8;
  text-decoration: none;
 }
 .foothead1{
  color: #007EA8;
  text-decoration: none;
  border-right: 2px solid #007EA8;
  padding-right: 10px;
 }

 .formfooter{
  padding: 7px;
  height: 40px;
  width: 200px;
  font-size: 11px;
 }
 .formfooter::placeholder{
 color: #606060;
 font-size: 13px;
 
 }
 .footerbtn{
  height: 40px;
  width: 40px;
 }
 