.NewsHeading::after {
  content: "";
  display: block;
  position: relative;
  height: 4px;
  background: #17b677;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.newspara {
  font-weight: lighter;
  font-size: 14px;
}
.newspara1 {
  font-weight: bold;
  font-size: 12px;
}
.TextLink {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .News_Card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .NewsSection {
    width: 300px;
  }
}