.card2head{
    letter-spacing: 2px;
    font-weight: 800;
    color: rgb(0,35,73);
    font-family: 'Cormorant Garamond', serif;
}
.card2text{
    word-spacing: 2px;
    line-height: 25px;
    font-weight: 600;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    color: #606060;
}